html, body {
    margin: 0;
    padding: 0;
}

body {
    background: left bottom / auto 9% repeat-x url(static-name(grass.svg)) fixed,
		82% 96% / 5vh auto no-repeat url(static-name(btfl.svg)) fixed,
		center bottom / auto 10% repeat-x url(static-name(grass.svg)) fixed,
		right bottom / auto 11% repeat-x url(static-name(grass.svg)) fixed,
		10% 90% / 8vh auto no-repeat url(static-name(btfl.svg)) fixed,
		linear-gradient(#519dd2, #7ec0ec) fixed;
    line-height: 1.4;
    padding: 1ex;
}

main {
    padding: 2ex 3ex;
    margin: 1em auto;
    max-width: 37em;
    background: white;
    border-radius: 1em;
    position: relative;
}

@media screen and (min-width: 28em) {
    body {
	padding: 8vh 7vw 10vh 7vw;
    }
    main {
	&:before, &:after {
	    content: url(static-name(cloud.svg));
	    display: block;
	    position: absolute;
	    z-index: -1;
	}
	&:before {
	    width: 52%;
	    top: -7vh;
	    left: -7%;
	}
	&:after {
	    width: 30%;
	    top: -6vh;
	    right: -4%;
	}
    }

    h1#krats {
	margin-right: 15%;
	text-align: center;
	vertical-align: middle;

	&:before, &:after {
	    font-size: 60%;
	    opacity: .3;
	    vertical-align: middle;
	}
	&:before { content: 'www.'; }
	&:after { content: '.se'; }
    }
}

h1 {
    letter-spacing: .2em;
}

footer {
    background: #84ff5e;
    border-radius: 1em 0 0;
    bottom: 0;
    padding: 0 1em;
    position: fixed;
    right: 0;
}

h1 {
    margin: 0 0 1ex;
}
p {
    margin: 0 0 1em;
}

.error {
    body {
	background: left bottom / auto 9% repeat-x url(static-name(grass.svg)) fixed,
		    82% 98% / 5vh auto no-repeat url(static-name(btfl.svg)) fixed,
		    10% 97% / 6vh auto no-repeat url(static-name(btfl.svg)) fixed,
		    right bottom / auto 11% repeat-x url(static-name(grass.svg)) fixed,
		    linear-gradient(#89a, #568) fixed;
    }
    main {
	background: linear-gradient(#fff, #fff, #eee, #ccc, #888) padding-box;
	border: solid 1px rgba(white, 0.3);
	border-width: 0 2px 2px 1px;
    }
}
