@use super::statics::home_css;
@use http::StatusCode;

@(code: StatusCode, message: &str)

<!doctype html>
<html lang="sv" class="error">
  <head>
    <title>Error @code.as_u16(): @code.canonical_reason().unwrap_or("error")</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/s/@home_css.name"/>
  </head>
  <body>
    <main>
      <h1>@code.canonical_reason().unwrap_or("error")</h1>

      <p>@message</p>
      <p>We are sorry about this.
	Maybe one of the links on <a href="/">our front page</a> can
	help you find what you are looking for?</p>
    </main>
  </body>
</html>
