@use super::statics::home_css;

@()

<!doctype html>
<html lang="sv">
  <head>
    <title>krats.se</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/s/@home_css.name"/>
  </head>
  <body>
    <main>
    <p><em>Välkommen till</em></p>
    <h1 id="krats">krats</h1>

    <p>Här, i <a href="/gifta/">Katarinas &amp; Rasmus</a> virtuella
    hem, kan du hitta:</p>

    <ul>
      <li><a href="http://fantomenindex.krats.se/">Rasmus
	fantomenindex</a>, kanske det mest omfattande index över den
	svenska Fantomentidningen som existerar!</li>
      <li><a href="http://tygbittar.krats.se/">Katys tygbittar</a>,
	personlig hemsida med fokus på tygrelaterat hantverk och hobby</li>
      <li><a href="http://rasmus.krats.se/">Rasmus Kaj</a>,
	personlig hemsida / blog.</li>
    </ul>
    <p>Mer webb gjord av Rasmus:</p>
    <ul>
      <li><a href="http://www.albumforlaget.se/">Albumförlaget</a>
	– De bästa Franska och Belgiska serierna på Svenska.</li>
      <li><a href="http://lymland.se/">Lymland</a>
	– Sonja Perander and Jerker Kaj making music.</li>
    </ul>
    </main>
  </body>
</html>
