@use templates::statics::home_css;

@()

<!doctype html>
<html lang="sv">
  <head>
    <title>krats.se</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/s/@home_css.name"/>
  </head>
  <body>
    <p><em>Välkommen till</em></p>
    <h1><span id="k">k</span><span id="r">r</span><span id="a">a</span><span id="t">t</span><span id="s">s</span></h1>

    <p>Här, i <a href="/gifta/">Katarinas &amp; Rasmus</a> virtuella
    hem, kan du hitta:</p>

    <ul>
      <li><a href="http://fantomenindex.krats.se/">Rasmus
	fantomenindex</a>, kanske det mest omfattande index över den
	svenska Fantomentidningen som existerar!</li>
      <li><a href="http://tygbittar.krats.se/">Katys tygbittar</a>,
	personlig hemsida med fokus på tygrelaterat hantverk och hobby</li>
      <li><a href="http://rasmus.krats.se/">Rasmus Kaj</a>,
	personlig hemsida / blog.</li>
    </ul>
    <p>Och eventuellt relaterat på resten av webben:</p>
    <ul>
      <li><a href="http://www.albumforlaget.se/">Albumförlaget</a>
	– webben är gjord av Rasmus.</li>
    </ul>
  </body>
</html>
